body{
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
}
h1{
    font-family: 'Shadows Into Light', Arial, sans-serif ;
    font-size: 60px;
    margin: 10px;
}
.square{
    width: 100px;
    height: 100px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    display: inline-block;
}
.x {
    position: relative;
}
.x:after{
    position: absolute;
    content: "\274C";
    font-size: 60px;
    inset: 0px;
}
.o {
    position: relative;
}
.o:after{
    position: absolute;
    content: "\2B55";
    font-size: 60px;
    inset: 0px;
}
.result, td ,tr{
    width: 300px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px;
    border: solid 1px rgb(255, 255, 255);
    margin: auto;
    font-family: 'Shadows Into Light', Arial, sans-serif;
    font-size: 25px;
    margin-top: 30px;
}

@media only screen and (max-width: 400px){
    
    .square{
        width: 70px;
        height: 70px;
        margin: auto;
    }
    .result, td ,tr{
        width: 250px;
    }
    .x:after{
        font-size: 50px;
    }
    .o:after{
        font-size: 50px;
    }

}


